.table{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 9px 28px -1px rgba(0,0,0,0.1);
  .title {
    color: gray;
  }
  .product-img {
    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .status {
    padding: 5px;
    &.Approved {
      color: green;
      background-color: rgba(3, 191, 3, 0.291);
    }
    &.Pending {
      color: rgb(234, 234, 5);
      background-color: rgba(104, 104, 0, 0.593);
    }
  }
}