.target-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  .label {
    color: gray;
    font-weight: 600;
  }
  .trending {
    display: flex;
    align-items: center;
   
    .diff {
      font-size: 14px;
    }
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}